.app-title {
  font-size: 24px;
  font-weight: 700;

  @media screen and (max-width: 500px) {
    font-size: 18px;
  }
}

.text-container {
  text-align: center;
  color: var(--grey);
  margin-right: 20px;
}

.description {
  margin-top: 10px;
  display: inline-block;

  @media screen and (max-width: 500px) {
    font-size: 14px;
    margin-top: 5px;
  }

  @media screen and (max-width: 500px) {
    display: none;
  }
}

.text-and-gear {
  display: flex;
  align-items: center;
}

.spacer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wikidata-logo {
  height: 60px;

  @media screen and (max-width: 500px) {
    height: 30px;
  }
}
