<div class="spacer">
  <img src="./assets/Wikidata-logo-en.svg" class="wikidata-logo" />

  <app-pause [paused]="paused"></app-pause>

  <div class="text-and-gear">
    <div class="text-container">
      <div class="app-title">
        {{ 'wikidata-stream' | fluent }}
      </div>

      <div class="description">
        {{ 'watch-stream' | fluent }}
      </div>
    </div>

    <app-gear-icon [sideMenu]="sideMenu"></app-gear-icon>
  </div>
</div>
