<div class="center-container">
  <div class="text-container">
    {{ 'built-at' | fluent }}
    <a href="https://www.mediawiki.org/wiki/Wikimedia_Hackathon_2019">
      Wikimedia Hackathon 2019 in Prague
    </a>

    <br />

    Děkuji <span class="emoji-font">❤</span>

    <a href="https://www.wikimedia.cz">
      https://www.wikimedia.cz
    </a>

    <br />

    <a
      class="bug-icon-and-link"
      href="https://gitlab.com/tobias47n9e/wikidata-stream"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 48 48"
      >
        <path d="M0 0h48v48h-48z" fill="none" />
        <path
          d="M40 16h-5.62c-.9-1.56-2.14-2.91-3.63-3.92l3.25-3.25-2.83-2.83-4.35 4.35c-.9-.22-1.85-.35-2.82-.35-.97 0-1.92.13-2.82.35l-4.35-4.35-2.83 2.83 3.25 3.25c-1.49 1.01-2.73 2.36-3.63 3.92h-5.62v4h4.18c-.11.65-.18 1.32-.18 2v2h-4v4h4v2c0 .68.07 1.35.18 2h-4.18v4h5.62c2.07 3.58 5.94 6 10.38 6s8.31-2.42 10.38-6h5.62v-4h-4.18c.11-.65.18-1.32.18-2v-2h4v-4h-4v-2c0-.68-.07-1.35-.18-2h4.18v-4zm-12 16h-8v-4h8v4zm0-8h-8v-4h8v4z"
          fill="#484848"
        />
      </svg>
      {{ 'source-code' | fluent }}
    </a>
  </div>
</div>
