.center-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.text-container {
  flex-basis: 500px;
  text-align: center;
  line-height: 1.5em;
  color: var(--grey);
}

.bug-icon-and-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
