<div *ngIf="item">
  <ng-container *ngIf="item.labels">
    <div class="item-title">{{ item.labels | stringTrans }}</div>
  </ng-container>

  <ng-container *ngIf="item.descriptions">
    <div class="item-description">
      {{ item.descriptions | stringTrans }}
    </div>
  </ng-container>

  <ng-container *ngIf="imageUrl">
    <div class="item-image-container">
      <img [src]="imageUrl" class="item-image" />
    </div>
  </ng-container>
</div>
