<div
  *ngFor="let addedStatement of addedStatements | keyvalue"
  class="property-statement-box"
>
  <div>{{ localizePropertyName(addedStatement.key) }}:</div>

  <div *ngFor="let statement of addedStatement.value" class="added">
    {{ localizeStatementTarget(statement) }}
  </div>
</div>
