<div *ngIf="edit">
  <a
    href="https://www.wikidata.org/wiki/{{ edit.title }}"
    class="item-link"
    target="_blank"
  >
    {{ edit.title }}

    <span *ngIf="itemIsNew">
      - New item!
    </span>
  </a>

  <a href="{{ edit | diffLink }}" target="_blank" class="item-link">(Diff)</a>
</div>
