<div (click)="togglePaused()">
  <ng-container *ngIf="!paused">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="48"
      height="48"
      viewBox="0 0 48 48"
    >
      <path d="M12 38h8V10h-8v28zm16-28v28h8V10h-8z" fill="#484848" />
      <path d="M0 0h48v48H0z" fill="none" />
    </svg>
  </ng-container>

  <ng-container *ngIf="paused">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="48"
      height="48"
      viewBox="0 0 48 48"
    >
      <path d="M-838-2232H562v3600H-838z" fill="none" />
      <path d="M16 10v28l22-14z" fill="#484848" />
      <path d="M0 0h48v48H0z" fill="none" />
    </svg>
  </ng-container>
</div>
