<div class="edit-summary" *ngIf="edit">
  <div class="user-and-date">
    <div class="user-info">
      <ng-container *ngIf="edit.bot">
        <img src="./assets/Robot_icon.svg" class="bot-icon" />
      </ng-container>

      {{ edit.user }}
    </div>

    <div class="edit-timestamp">
      {{ editTimeStamp | date: 'yyyy-MM-dd HH:mm:ss' }}
    </div>
  </div>

  <div
    class="comment"
    *ngIf="edit.comment"
    [innerHtml]="edit.parsedcomment | wikiLink | targetBlank"
  ></div>
</div>
