.edit-timestamp {
  margin-left: 20px;

  @media screen and (max-width: 600px) {
    font-size: 0.9em;
  }
}

.bot-icon {
  width: 20px;
  margin-right: 10px;
}

.user-info {
  display: flex;
  align-items: center;

  @media screen and (max-width: 600px) {
    font-size: 0.9em;
  }
}

.comment {
  font-size: 14px;
  color: #3c3c3c;
  margin-top: 10px;

  @media screen and (max-width: 600px) {
    font-size: 0.8em;
  }
}
