<ng-container *ngFor="let locale of labelLocales">
  <div *ngFor="let diff of labelDiffs(locale)" class="locale-string">
    <div>{{ locale }}:</div>

    <div>
      <span *ngIf="diff.added" class="added">
        {{ diff.value }}
      </span>

      <span *ngIf="diff.removed" class="removed">
        {{ diff.value }}
      </span>

      <span *ngIf="!diff.added && !diff.removed">
        {{ diff.value }}
      </span>
    </div>
  </div>
</ng-container>
