<div *ngFor="let sitelink of addedSitelinks" class="added">
  {{ sitelink.site }}: {{ sitelink.title }}
</div>

<div *ngFor="let sitelink of removedSitelinks" class="removed">
  {{ sitelink.site }}: {{ sitelink.title }}
</div>
