<app-side-menu #sideMenu></app-side-menu>

<div class="space-header">
  <app-header [sideMenu]="sideMenu" [paused]="paused"></app-header>
</div>

<div class="grid" *ngIf="edit && item">
  <app-edit-title [edit]="edit"></app-edit-title>
  <app-edit-summary [edit]="edit" class="edit-summary"></app-edit-summary>
  <div class="span-row">
    <app-item-title-description [item]="item"></app-item-title-description>
    <app-item-image [item]="item"></app-item-image>
  </div>
  <ng-container *ngIf="oldRevision">
    <app-label-changes
      [item]="item"
      [oldRevision]="oldRevision"
      class="span-row"
    ></app-label-changes>
    <app-description-changes
      [item]="item"
      [oldRevision]="oldRevision"
      class="span-row"
    ></app-description-changes>
    <app-sitelink-changes
      [item]="item"
      [oldRevision]="oldRevision"
      class="span-row"
    ></app-sitelink-changes>
    <app-statement-changes
      [item]="item"
      [oldRevision]="oldRevision"
      [relatedEntities]="relatedEntities"
      class="span-row"
    ></app-statement-changes>
  </ng-container>
</div>

<app-footer class="span-row"></app-footer>
