.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border: 1px solid #e9e9e9;
  padding: 10px;

  @media screen and (max-width: 600px) {
    grid-gap: 10px 0;
  }
}

.cell {
  padding: 10px;
}

.span-row {
  grid-column: 1 / 3;
}

.edit-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.edit-summary {
  @media screen and (max-width: 600px) {
    grid-column: 1 / 3;
  }
}

.item-link {
  text-decoration: none;
  font-size: 22px;
  color: var(--blue);
  font-weight: 800;
}

.change-link-container {
  border-top: 1px solid black;
  padding-top: 10px;
  margin-top: 20px;
}

.space-header {
  margin-bottom: 20px;

  @media screen and (max-width: 500px) {
    margin-bottom: 10px;
  }
}

.text-change {
  display: flex;
  align-items: center;
}

.text-locale {
  font-size: 24px;
  margin-right: 20px;
  font-weight: 700;
}

.text-value {
  font-size: 20px;
}

.added-data {
  color: var(--green);
}

.item-image-container {
  height: 200px;
  display: flex;
  justify-content: center;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-description {
  margin-bottom: 20px;
  font-size: 18px;

  @media screen and (max-width: 500px) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.user-and-date {
  display: flex;
  justify-content: space-between;
}

.changed-text {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.changed-text-language {
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
}

.changed-text-new {
  color: green;
}

.changed-text-old {
  color: red;
}

.changed-text-header {
  font-size: 18px;
  margin: 20px 0;
  font-weight: 700;
}
