/* You can add global styles to this file, and also import other style files */

:root {
  --red: #990000;
  --green: #339966;
  --blue: #006699;
  --grey: #484848;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/Montserrat-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/Montserrat-ExtraBold.ttf');
  font-weight: 800;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', 'sans-serif';
}

.emoji-font {
  font-family: Twemoji Mozilla;
}

.added {
  color: green;
}

.locale-string {
  display: flex;
  gap: 20px;
}

.removed {
  color: red;
}

a {
  color: var(--green);
  text-decoration: none;
}

body {
  margin: 20px;

  @media screen and (max-width: 500px) {
    margin: 10px;
  }
}
