<div class="menu" [class.is-open]="menuOpen">
  <div class="spacer">
    <div>
      <div class="header">{{ 'settings' | fluent }}</div>

      <div>
        <label class="label" for="locale-input">{{ 'locale' | fluent }}:</label>
        <input
          type="text"
          class="locale-input"
          id="locale-input"
          [formControl]="localeControl"
        />
      </div>
    </div>

    <div class="close" (click)="applyAndClose()">
      {{ 'apply-and-close' | fluent }}
    </div>
  </div>
</div>
