.menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-color: var(--blue);
  padding: 20px;
  color: white;
  transition: all 0.5s linear;
  transform: translateX(100%);

  &.is-open {
    transform: translateX(0);
  }
}

.header {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.locale-input {
  width: 100px;
}

.close {
  cursor: default;
}

.label {
  margin-right: 30px;
}

.spacer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
